/JavawebProgramming/code/bai1/build/
/JavawebProgramming/code/bai1/nbproject/private/
/JavawebProgramming/baitapbuoi3/bai3/nbproject/private/
/JavawebProgramming/baitapbuoi3/bai3/build/
/JavawebProgramming/baitapbuoi3/bai4/nbproject/private/
/JavawebProgramming/baitapbuoi3/bai4/build/
/JavawebProgramming/baitapbuoi3/bai5/nbproject/private/
/JavawebProgramming/baitapbuoi3/bai5/build/
/JavawebProgramming/baitapbuoi3/cacVD/nbproject/private/
/JavawebProgramming/baitapbuoi3/cacVD/build/
/JavawebProgramming/baitapbuoi4/bai1a/nbproject/private/
/JavawebProgramming/baitapbuoi4/bai1a/build/
/JavawebProgramming/baitapbuoi4/bai1b/nbproject/private/
/JavawebProgramming/baitapbuoi4/bai1b/build/
/JavawebProgramming/baitapbuoi4/bai1c/nbproject/private/
/JavawebProgramming/baitapbuoi4/bai1c/build/
/JavawebProgramming/baitapbuoi4/bai2a/nbproject/private/
/JavawebProgramming/baitapbuoi4/bai2a/build/
/JavawebProgramming/baitapbuoi4/bai2b/nbproject/private/
/JavawebProgramming/baitapbuoi4/bai2b/build/
/JavawebProgramming/baitapbuoi4/bai2c/nbproject/private/
/JavawebProgramming/baitapbuoi4/bai2c/build/
/JavawebProgramming/baitapbuoi4/bai3/nbproject/private/
/JavawebProgramming/baitapbuoi4/bai3/build/
/JavawebProgramming/baitapbuoi4/bai4/nbproject/private/
/JavawebProgramming/baitapbuoi4/bai5a/nbproject/private/